src/main/resources/helloworld.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://springboot.springws.palvair.com"
           targetNamespace="http://springboot.springws.palvair.com" elementFormDefault="qualified">

    <xs:element name="HelloWorldRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="HelloWorldResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="content" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>